a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_704a032b a { text-decoration: none; }
#menu_704a032b_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_704a032b_hr { background-color: #646464; height: 1px; border: none; }
#menu_704a032b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_704a032b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_704a032b_entry:hover span { color:#FFFFFF !important; }
		.menu_704a032b_mainMenuEntry { text-align: center; }
		.menu_704a032b_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_704a032b_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_704a032b .mobileEntry { display: none; } 
		#menu_704a032b .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_704a032b .mobileEntry { display: block; } 
			#menu_704a032b .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_75de1b49 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background-color:#CDCD9A;  }
#container_42abcd13 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#B8B79B;  }
#container_42abcd13_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_14a1b78f { vertical-align: top; position:relative; display: inline-block; width:87%; min-height:74px; background:none;  }
#container_14a1b78f_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_40cee31b { vertical-align: top; position:relative; display: inline-block; width:76%; min-height:52px; background:none;  }
#container_40cee31b_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_704a032b { vertical-align: bottom; position:relative; display: inline-block; width:535px; height:32px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:41px; height:32px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:36px;  }
.textstyle5 { font-size:28pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:60px; height:32px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:15px;  }
.textstyle6 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:59px; height:32px; left:70px;  }
.style6 { position:absolute; width:72px; height:32px; left:129px;  }
.style7 { position:absolute; width:157px; height:32px; left:201px;  }
.style8 { position:absolute; width:78px; height:32px; left:358px;  }
.textstyle7 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
#container_455adee5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:356px; background-color:#AA967B; background-image: url(rc_images/27e262ff_a53c_40fc_8ed1_c48e08791e4f.jpeg); background-position:center center; background-size:cover;  }
#container_455adee5_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_30f911ac { vertical-align: top; position:relative; display: inline-block; width:42%; min-height:66px; background:none;  }
#container_30f911ac_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:32pt; font-family:'Courier New', Courier, monospace; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle11 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
.textstyle12 { font-size:22pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
.textstyle13 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000;  }
.textstyle14 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E; line-height: 1.5;  }
@media only screen and (max-width: 640px)
{
		#container_14a1b78f * span { font-size:15pt;  }
		#menu_704a032b { width:60px;  }
		#container_30f911ac * span { font-size:24pt;  }
}
